@model Domain.Entities.WJ_BASE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>WJ_BASE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LS_NO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_NO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_SIGN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_SIGN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FBBMMC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FBBMMC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FBBMBH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FBBMBH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FBRXM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FBRXM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FBRBH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FBRBH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LDT_FBRRQ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LDT_FBRRQ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FBZT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FBZT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_GJC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_GJC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_WJSM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_WJSM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_WJLX)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_WJLX)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_WJBZ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_WJBZ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_WJCZ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_WJCZ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_FJCZ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_FJCZ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_WJHZ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_WJHZ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FJHZ)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FJHZ)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_WJMC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_WJMC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_FJMC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_FJMC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_JSRLB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_JSRLB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_JSBMLB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_JSBMLB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_JSRXS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_JSRXS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_JSBMXS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_JSBMXS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_YBGS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_YBGS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_YYGS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_YYGS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LL_ELSE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LL_ELSE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LS_ELSE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LS_ELSE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
